
<%= content_for :header do %>
<h1>Editing player_transaction</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("show"),:size=>"100x100"), @player_transaction, :title=>'Show' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), player_transactions_path, :title=>'Back' %>
<% end %>
