<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :main_content do %>

<
    <%= form_tag :action => 'create' %>
<table cellspacing="30">

        <tr>

  <% @news_sectors.each_with_index do |sector, index| %>
      <%= fields_for "news_sectors[#{index}]", sector do |f| %>

          <%= f.hidden_field :news_id, :value=>params[:news_id] %>
          <td><%= f.label @sectors[index].name %>

          <%= f.check_box :sector_id,{},@sectors[index].id,0 %></td>
          <% if (index+1)  % 3==0 and index>0 %></tr>
                      <% end %>


      <% end %>
  <% end %>
</table>
<%= submit_tag %>


<% end%>



<%= content_for :navigation do %>
<% end %>
<%= content_for :footer do %>
<% end %>
