<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<h1>Listing debt_papers</h1>
<% end %>

<%= content_for :main_content do %>
<table>
  <tr>

    <th>Company</th>

    <th>Name</th>

    <th>Amount</th>

    <th>Tenure</th>

    <th>Rate of interest</th>

    <th>Lot size</th>

    <th></th>
  </tr>

<% @debt_papers.each do |debt_paper| %>
  <tr>

    <td><%= debt_paper.company_id %></td>

    <td><%= debt_paper.name %></td>

    <td><%= debt_paper.amount %></td>

    <td><%= debt_paper.tenure %></td>

    <td><%= debt_paper.rate_of_interest %></td>

    <td><%= debt_paper.lot_size %></td>

    <td>
    <%= link_to image_tag(icon("show"),:size=>"64x64"), debt_paper, :title=>'Show' %>
    <%= link_to image_tag(icon("edit"),:size=>"64x64"), edit_debt_paper_path(debt_paper), :title=>'Edit' %>
    <%= link_to image_tag(icon("delete"),:size=>"64x64"), debt_paper, confirm: 'Are you sure?', method: :delete, :title=>'Delete' %>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<br />
<%= content_for :navigation do %>
<% end %>
<%= content_for :extra do %>
<%= link_to image_tag('new_icon.png',:size=>"100x100"), new_debt_paper_path, :title=>"Add a debt_paper" %>
<% end %>
<%= content_for :footer do %>
<% end %>

