
<%= content_for :header do %>
<h1>Editing investment_type</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("show"),:size=>"100x100"), @investment_type, :title=>'Show' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), investment_types_path, :title=>'Back' %>
<% end %>
