<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<h1>Listing investment_types</h1>
<% end %>

<%= content_for :main_content do %>
<table>
  <tr>

    <th>Name</th>

    <th></th>
  </tr>

<% @investment_types.each do |investment_type| %>
  <tr>

    <td><%= investment_type.name %></td>

    <td>
    <%= link_to image_tag(icon("show"),:size=>"64x64"), investment_type, :title=>'Show' %>
    <%= link_to image_tag(icon("edit"),:size=>"64x64"), edit_investment_type_path(investment_type), :title=>'Edit' %>
    <%= link_to image_tag(icon("delete"),:size=>"64x64"), investment_type, confirm: 'Are you sure?', method: :delete, :title=>'Delete' %>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<br />
<%= content_for :navigation do %>
<% end %>
<%= content_for :extra do %>
<%= link_to image_tag('new_icon.png',:size=>"100x100"), new_investment_type_path, :title=>"Add a investment_type" %>
<% end %>
<%= content_for :footer do %>
<% end %>

