<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :main_content do %>

<%= form_for(@stock_price) do |f| %>
<% if @stock_price.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@stock_price.errors.count, "error") %> prohibited this stock_price
    from being saved:</h2>

  <ul>
    <% @stock_price.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label :round_id %><br/>
    <%= f.number_field :round_id %>
    <br/><br/>

    <%= f.label :stock_id %><br/>
    <%= f.number_field :stock_id %>
    <br/><br/>

    <%= f.label :open %><br/>
    <%= f.text_field :open %>
    <br/><br/>

    <%= f.label :high %><br/>
    <%= f.text_field :high %>
    <br/><br/>

    <%= f.label :low %><br/>
    <%= f.text_field :low %>
    <br/><br/>

    <%= f.label :close %><br/>
    <%= f.text_field :close %>
    <br/><br/>

<p><%= f.submit %></p>
<% end %>
<% end %>

<%= content_for :navigation do %>
<% end %>
<%= content_for :footer do %>
<% end %>
