
<%= content_for :header do %>
<h1>Editing round_stock_constant</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("show"),:size=>"100x100"), @round_stock_constant, :title=>'Show' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), round_stock_constants_path, :title=>'Back' %>
<% end %>
