<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :main_content do %>

<%= form_for(@scheme) do |f| %>
<% if @scheme.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@scheme.errors.count, "error") %> prohibited this scheme
    from being saved:</h2>

  <ul>
    <% @scheme.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <br/><br/>

    <%= f.label :entry_load %><br/>
    <%= f.number_field :entry_load %>
    <br/><br/>

    <%= f.label :exit_load %><br/>
    <%= f.number_field :exit_load %>
    <br/><br/>

    <%= f.label :commission_paid %><br/>
    <%= f.text_field :commission_paid %>
    <br/><br/>

<p><%= f.submit %></p>
<% end %>
<% end %>

<%= content_for :navigation do %>
<% end %>
<%= content_for :footer do %>
<% end %>
