
<%= content_for :header do %>
<h1>Editing economic_parameter_value</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("show"),:size=>"100x100"), @economic_parameter_value, :title=>'Show' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), economic_parameter_values_path, :title=>'Back' %>
<% end %>
