<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :main_content do %>

<%= form_for(@fixed_deposit) do |f| %>
<% if @fixed_deposit.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@fixed_deposit.errors.count, "error") %> prohibited this fixed_deposit
    from being saved:</h2>

  <ul>
    <% @fixed_deposit.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label :company_id %><br/>
    <%= f.number_field :company_id %>
    <br/><br/>

    <%= f.label :rate_of_interest %><br/>
    <%= f.text_field :rate_of_interest %>
    <br/><br/>

    <%= f.label :tenure %><br/>
    <%= f.number_field :tenure %>
    <br/><br/>

<p><%= f.submit %></p>
<% end %>
<% end %>

<%= content_for :navigation do %>
<% end %>
<%= content_for :footer do %>
<% end %>
