<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<% end %>

<%= content_for :main_content do %>


    <p>
      <b>Company:</b>
      <%= @fixed_deposit.company_id %>
    </p>


    <p>
      <b>Rate of interest:</b>
      <%= @fixed_deposit.rate_of_interest %>
    </p>


    <p>
      <b>Tenure:</b>
      <%= @fixed_deposit.tenure %>
    </p>



<% end %>
<br/>
<br/>
<%= content_for :navigation do %>
<% end %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("edit"),:size=>"100x100"), edit_fixed_deposit_path(@fixed_deposit), :title=>'Edit' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), fixed_deposits_path, :title=>'Back' %>
<% end %>

<%= content_for :footer do %>
<% end %>
