<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<h1>Listing stocks</h1>
<% end %>

<%= content_for :main_content do %>
<table>
  <tr>

    <th>Lot size</th>

    <th>Company</th>

    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>

    <td><%= stock.lot_size %></td>

    <td><%= stock.company_id %></td>

    <td>
    <%= link_to image_tag(icon("show"),:size=>"64x64"), stock, :title=>'Show' %>
    <%= link_to image_tag(icon("edit"),:size=>"64x64"), edit_stock_path(stock), :title=>'Edit' %>
    <%= link_to image_tag(icon("delete"),:size=>"64x64"), stock, confirm: 'Are you sure?', method: :delete, :title=>'Delete' %>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<br />
<%= content_for :navigation do %>
<% end %>
<%= content_for :extra do %>
<%= link_to image_tag('new_icon.png',:size=>"100x100"), new_stock_path, :title=>"Add a stock" %>
<% end %>
<%= content_for :footer do %>
<% end %>

