
<%= content_for :header do %>
<h1>Editing company_financial</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("show"),:size=>"100x100"), @company_financial, :title=>'Show' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), company_financials_path, :title=>'Back' %>
<% end %>
