<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<% end %>

<%= content_for :main_content do %>


    <p>
      <b>Name:</b>
      <%= @company.name %>
    </p>


    <p>
      <b>Sector:</b>
      <%= @company.sector_id %>
    </p>



<% end %>
<br/>
<br/>
<%= content_for :navigation do %>
<% end %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("edit"),:size=>"100x100"), edit_company_path(@company), :title=>'Edit' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), companies_path, :title=>'Back' %>
<% end %>

<%= content_for :footer do %>
<% end %>
