<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<h1>Listing news_companies</h1>
<% end %>

<%= content_for :main_content do %>
<table>
  <tr>

    <th>News</th>

    <th>Company</th>

    <th></th>
  </tr>

<% @news_companies.each do |news_company| %>
  <tr>

    <td><%= news_company.news_id %></td>

    <td><%= news_company.company_id %></td>

    <td>
    <%= link_to image_tag(icon("show"),:size=>"64x64"), news_company, :title=>'Show' %>
    <%= link_to image_tag(icon("edit"),:size=>"64x64"), edit_news_company_path(news_company), :title=>'Edit' %>
    <%= link_to image_tag(icon("delete"),:size=>"64x64"), news_company, confirm: 'Are you sure?', method: :delete, :title=>'Delete' %>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<br />
<%= content_for :navigation do %>
<% end %>
<%= content_for :extra do %>
<%= link_to image_tag('new_icon.png',:size=>"100x100"), new_news_company_path, :title=>"Add a news_company" %>
<% end %>
<%= content_for :footer do %>
<% end %>

