<script type="text/javascript">
    $(function() {
        $('#left_bar, #content').equalHeightColumns();
    });
</script>

<div id="header_wrapper" class="container_12">
  <div id="header" class="grid_12 alpha">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield(:header) %>
  </div>
</div>
<div class="clear"></div>
<div id="main_wrapper" class="container_12">
  <div id="left_bar" class="grid_2 alpha">
    <div id="navigation">
      <%= render '/layouts/Partials/navigation_vertical' %>
      <%= yield(:navigation) %>
    </div>
    <div id="extra">
      <%= yield(:extra) %>
    </div>
  </div>
  <div id="content" class="grid_10 omega">
    <%= yield(:main_content) %>
  </div>
</div>
<div class="clear"></div>
<div id="footer_wrapper" class="container_12">
  <div id="footer" class="grid_12 alpha">
    <%= yield(:footer) %>
  </div>
</div>
