<script type="text/javascript">
    $(function() {
        $('#navigation, #content').equalHeightColumns();
        $('#extra, #footer').equalHeightColumns();
    });
</script>

<div id="header_wrapper" class="container_12">
  <div id="header" class="grid_12">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield(:header) %>
  </div>
</div>

<div id="main_wrapper" class="container_12">
  <div id="navigation" class="grid_2">
    <%= render '/layouts/Partials/navigation_vertical' %>
    <%= yield(:navigation) %>
  </div>
  <div id="content" class="grid_10">
    <%= yield(:main_content) %>
  </div>
</div>

<div id="footer_wrapper" class="container_12">
  <div id="extra" class="grid_2">
    <%= yield(:extra) %>
  </div>
  <div id="footer" class="grid_10">
    <%= yield(:footer) %>
  </div>
</div>
