<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<% end %>

<%= content_for :main_content do %>


    <p>
      <b>Player:</b>
      <%= @player_promise.player_id %>
    </p>


    <p>
      <b>Expected return:</b>
      <%= @player_promise.expected_return %>
    </p>


    <p>
      <b>Max risk:</b>
      <%= @player_promise.max_risk %>
    </p>


    <p>
      <b>Round:</b>
      <%= @player_promise.round_id %>
    </p>


    <p>
      <b>Portfolio wealth approach:</b>
      <%= @player_promise.portfolio_management %>
    </p>



<% end %>
<br/>
<br/>
<%= content_for :navigation do %>
<% end %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("edit"),:size=>"100x100"), edit_player_promise_path(@player_promise,:player_id=>@player.id), :title=>'Edit' %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), player_promises_path(:player_id=>@player.id), :title=>'Back' %>
<% end %>

<%= content_for :footer do %>
<% end %>
