<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :main_content do %>

<%= form_for(@client_player) do |f| %>
<% if @client_player.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@client_player.errors.count, "error") %> prohibited this client_player
    from being saved:</h2>

  <ul>
    <% @client_player.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label :client_id %><br/>
    <%= f.number_field :client_id %>
    <br/><br/>

    <%= f.label :round_id %><br/>
    <%= f.number_field :round_id %>
    <br/><br/>

    <%= f.label :player_id %><br/>
    <%= f.number_field :player_id %>
    <br/><br/>

    <%= f.label :amount %><br/>
    <%= f.text_field :amount %>
    <br/><br/>

<p><%= f.submit %></p>
<% end %>
<% end %>

<%= content_for :navigation do %>
<% end %>
<%= content_for :footer do %>
<% end %>
