<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :header do %>
<h1>Listing constants</h1>
<% end %>

<%= content_for :main_content do %>
<table>
  <tr>

    <th>Name</th>

    <th></th>
  </tr>

<% @constants.each do |constant| %>
  <tr>

    <td><%= constant.name %></td>

    <td>
    <%= link_to image_tag(icon("show"),:size=>"64x64"), constant, :title=>'Show' %>
    <%= link_to image_tag(icon("edit"),:size=>"64x64"), edit_constant_path(constant), :title=>'Edit' %>
    <%= link_to image_tag(icon("delete"),:size=>"64x64"), constant, confirm: 'Are you sure?', method: :delete, :title=>'Delete' %>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<br />
<%= content_for :navigation do %>
<% end %>
<%= content_for :extra do %>
<%= link_to image_tag('new_icon.png',:size=>"100x100"), new_constant_path, :title=>"Add a constant" %>
<% end %>
<%= content_for :footer do %>
<% end %>

