<table>
  <tr>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/new.png", :size=>"64x64", :title=>"New") %></td>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/show.png", :size=>"64x64", :title=>"Show") %></td>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/edit.png", :size=>"64x64", :title=>"Edit") %></td>
  </tr>
  <tr>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/delete.png", :size=>"64x64", :title=>"Delete") %></td>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/back.png", :size=>"64x64", :title=>"Back") %></td>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/settings.png", :size=>"64x64", :title=>"Settings") %></td>
  </tr>
  <tr>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/layout.png", :size=>"64x64", :title=>"Layout") %></td>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/theme.png", :size=>"64x64", :title=>"Theme") %></td>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/home.png", :size=>"64x64", :title=>"Home") %></td>
  </tr>
  <tr>
    <td><%= image_tag("icon_packs/icon_pack_#{@icon_theme}/search.png", :size=>"64x64", :title=>"Search") %></td>
  </tr>
</table>


