<%= content_for :head do %>
<script type="text/javascript">
    $(function() {
    });
</script>
<% end %>

<%= content_for :main_content do %>

<%= form_for(@facilitator_group) do |f| %>
<% if @facilitator_group.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@facilitator_group.errors.count, "error") %> prohibited this facilitator_group
    from being saved:</h2>

  <ul>
    <% @facilitator_group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <br/><br/>


    <%= f.hidden_field :facilitator_id,:value=>current_user.id %>
    <br/><br/>

<p><%= f.submit %></p>
<% end %>
<% end %>

<%= content_for :navigation do %>
<% end %>
<%= content_for :footer do %>
<% end %>
